@charset "utf-8";

.top-bar-layout{
  display:flex;
  position: fixed;
  box-sizing: border-box;
  transition: background 1s ease;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 380px);
  height:70px;
  padding: 0px 40px;
  //background-color:#121212;
  background: rgba(18, 18, 18, 0.50);
  box-shadow: 0 4px 25px 0 rgba(18,18,18,0.05);
  -webkit-backdrop-filter: blur( 4px );
  backdrop-filter: blur( 4px );
  //border-radius: 10px;
  //border: 1px solid rgba( 255, 255, 255, 0.18 );
  img {
    width : 36px;
    height : 36px;
    margin : 0px 8px;
  }
}

.top-bar-right-menu {
  display:flex;
  span {
    font-weight:700;
    color : #a7a7a7;
    font-size:16px;
    cursor: pointer;
    margin:0px 16px;
    &:hover {
      color : #fff;
      transition:all 0.4s;
    }
    &:active {
      transform:scale(0.97,0.97);
    }
  }
}

