@charset "utf-8";

.albumCategoryTitle{
    color:white;
    font-size: 24px;
    font-weight: 700;
}

.album-item-layout {
    background: #181818;
    padding: 14px;
    position: relative;
    min-width: 160px;
    //min-width: 140px;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
        transition: all 0.4s;
        background-color : #1F1F1F;
        border-radius: 8px;
    }
    &:hover > .play-content-btn > img  {
        transition: all 0.4s;
        opacity: 1;
        bottom: 30px;
    }

    .album-content-title{
        display: block;
        margin-top:24px;
    }

    .album-content-description{
        display: block;
        margin-top:8px;
    }
    img:nth-child(1) {
        position: relative;
        width: 165px;
        height: 165px;
        border-radius: 4px;
    }
    .play-content-btn {
        height:0px;
        img {
            opacity: 0;
            width: 45px;
            height: 45px;
            bottom: 20px;
            left: 110px;
        }
    }
}
