@charset "utf-8";

.albumCategoryTitle{
    color:white;
    font-size: 24px;
    font-weight: 700;
}

.album-item-layout {
    background: #181818;
    padding: 16px;
    position: relative;
    width: 172px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        transition: all 0.3s;
        background-color : #1F1F1F;
        border-radius: 8px;
    }

    .album-content-title{
        display: block;
        margin-top:24px;
    }

    .album-content-description{
        display: block;
        margin-top:8px;
    }
    img {
        width:100%;
        border-radius: 4px;
    }
}
